#Mon, 13 May 2013 17:50:28 -0400
app.name=EgoMasks

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=3f1d1b7d-ca5b-4204-aeb2-fb0fd4f4136c
