// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Examples of using the icon mixin:
@include icon('play');
@include icon('pause');
@include icon('chart2');

.x-body {
    /*background-color: #000;*/
}

.x-button-normal, .x-button-action, .x-button, 
.x-panel.x-floating .x-panel-inner, .x-panel.x-floating>.x-body, .x-msgbox .x-panel-inner, .x-msgbox>.x-body, .x-form.x-floating .x-panel-inner, .x-form.x-floating>.x-body  {
    border-radius: 0;
}

.x-container.masksGroup {
    .x-button-normal {
        margin: 0 .1em .3em .1em;
        height: 5em;
        border: 2px solid #fff;
    }
}


// Vertical text for the masks group name

.verticalGroupName {
    width: 10em;
    line-height: 5em;
    height: 5em;
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;

    .x-innerhtml {
        text-transform: uppercase;

        font-size: .8em;
        font-weight: bold;
    }
}

.x-docked-bottom {
    @include border-radius(0);
}

.x-button-back {
    @include border-radius(0.4em 0.2em 0.2em 0.4em)
}

.x-html {
    h1 {
        font-size: 2em;
    } 
    h2 {
        font-size: 1.5em;
        margin: 0.3em 0;
    }
    p {
        text-align: justify;
    }
}

.x-fullscreen .x-navigation-bar {
    z-index: 2;
}


// Loading screen
html, body {
    height: 100%;
    background-color: #1985D0
}

#appLoadingIndicator {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    width: 100%;
    height: 30px;
    -webkit-animation-name: appLoadingIndicator;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;

    /*Special below*/
    height: 80px;
    -webkit-animation-duration: 0.8s;
}

#appLoadingIndicator > * {
    background-color: #FFFFFF;
    display: inline-block;
    height: 30px;
    -webkit-border-radius: 15px;
    margin: 0 5px;
    width: 30px;
    opacity: 0.8;

    /*Special below*/
    background-color: #FFFFFF;
    display: inline-block;
    height: 80px;
    margin: 0 5px;
    width: 80px;
    opacity: 1;
    background: url("../images/mahajrya.png");
    background-size: 80px
}

@-webkit-keyframes appLoadingIndicator{
    0% {
        opacity: 0.8
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 0.8
    }
}


// Hack to scroll with the mouse in the browser
.browserScroll .x-scroll-container {
    overflow: auto;
}

#integrationBox {
    height: 15em;

    #maskName {
        .x-button-label  {
            font-size: 2.2em;
        }
    }
}

.masksList {
    margin: 5px 2px;
}

// CUSTOM EGOMASKS CSS END -----------------